$text-color: #fff;
$bg-color: #3399cc;
$bg-border-color: #2b81ac;
$item1-color: #3399cc;
$item2-color: #33cccc;
$item3-color: #996699;
$item4-color: #c24747;
$item5-color: #e2674a;
$item6-color: #ffcc66;
$item7-color: #99cc99;
$item8-color: #669999;
$item9-color: #cc6699;
$item10-color: #339966;
$item11-color: #666699;
$svg-color: #bfdfef;
$border-color: #fff;
$border-width: 5px;