@import url(stylesheet.css);
@import url(normalize.css);
html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

body {
  font-family: 'Lucida Sans Unicode';
  color: #fff;
  font-size: 18px; }

h1,
p {
  margin: 0;
  padding: 0; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

.container {
  padding: 40px 15% 50px;
  height: 100vh;
  background: #3399cc; }

.header {
  margin-bottom: 30px;
  margin: 0 auto;
  max-width: 940px;
  padding-bottom: 30px; }

.wheather {
  font-size: 0;
  margin: 0 auto;
  max-width: 940px;
  border: 3px solid #fff; }
  .wheather:hover a {
    background: rgba(255, 255, 255, 0.5); }
  .wheather__item {
    width: 25%;
    font-size: 16px;
    display: inline-block;
    vertical-align: top;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    font-size: 16px;
    opacity: 1;
    transition: opacity 0.1s ease-in;
    padding: 25px 0;
    position: relative;
    border: 2px solid #fff;
    display: inline-block; }
    .wheather__item:hover a {
      background: rgba(255, 255, 255, 0); }
    .wheather__item:hover {
      opacity: 1 !important; }
    .wheather__item:nth-child(1) {
      width: 50%;
      font-size: 16px;
      display: inline-block;
      vertical-align: top;
      padding-left: 0;
      padding-right: 0;
      text-align: center;
      font-size: 16px;
      background: #3399cc; }
    .wheather__item:nth-child(2) {
      background: #33cccc; }
    .wheather__item:nth-child(3) {
      background: #996699; }
    .wheather__item:nth-child(4) {
      background: #c24747; }
    .wheather__item:nth-child(5) {
      background: #e2674a; }
    .wheather__item:nth-child(6) {
      background: #ffcc66; }
    .wheather__item:nth-child(7) {
      background: #99cc99; }
    .wheather__item:nth-child(8) {
      background: #669999; }
    .wheather__item:nth-child(9) {
      width: 50%;
      font-size: 16px;
      display: inline-block;
      vertical-align: top;
      padding-left: 0;
      padding-right: 0;
      text-align: center;
      font-size: 16px;
      background: #cc6699; }
    .wheather__item:nth-child(10) {
      background: #339966; }
    .wheather__item:nth-child(11) {
      width: 100%;
      font-size: 16px;
      display: inline-block;
      vertical-align: top;
      padding-left: 0;
      padding-right: 0;
      text-align: center;
      font-size: 16px;
      background: #666699; }
      .wheather__item:nth-child(11) a {
        width: 100%; }
    .wheather__item svg {
      width: 50%;
      font-size: 16px;
      display: inline-block;
      vertical-align: top;
      padding-left: 0;
      padding-right: 0;
      text-align: center;
      font-size: 16px;
      height: 45px;
      width: 45px;
      fill: #bfdfef; }
    .wheather__item a {
      position: absolute;
      top: 0;
      left: 0;
      width: 101%;
      height: 100%;
      z-index: 1;
      background: rgba(255, 255, 255, 0);
      transition: all 0.3s ease-in; }
  .wheather__city {
    width: 100%;
    font-size: 16px;
    display: inline-block;
    vertical-align: top;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    font-size: 16px; }
  .wheather__heat {
    width: 50%;
    font-size: 16px;
    display: inline-block;
    vertical-align: top;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    font-size: 16px;
    width: 45px;
    display: inline-block;
    margin-top: 15px;
    color: #bfdfef; }
    .wheather__heat sup {
      display: inline-block;
      font-size: 10px; }

.footer {
  padding-top: 30px;
  margin: 0 auto;
  max-width: 940px; }

@media screen and (max-width: 800px) {
  .wheather__item {
    width: 33.33333%;
    font-size: 16px;
    display: inline-block;
    vertical-align: top;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    font-size: 16px; }
    .wheather__item:nth-child(2) {
      width: 50%;
      font-size: 16px;
      display: inline-block;
      vertical-align: top;
      padding-left: 0;
      padding-right: 0;
      text-align: center;
      font-size: 16px; }
    .wheather__item:nth-child(9) {
      width: 66.66667%;
      font-size: 16px;
      display: inline-block;
      vertical-align: top;
      padding-left: 0;
      padding-right: 0;
      text-align: center;
      font-size: 16px; }
    .wheather__item:nth-child(11) {
      width: 100%;
      font-size: 16px;
      display: inline-block;
      vertical-align: top;
      padding-left: 0;
      padding-right: 0;
      text-align: center;
      font-size: 16px; } }

@media screen and (max-width: 550px) {
  .header {
    text-align: center; }
  .wheather__item {
    width: 50%;
    font-size: 16px;
    display: inline-block;
    vertical-align: top;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    font-size: 16px; }
    .wheather__item:nth-child(2) {
      width: 50%;
      font-size: 16px;
      display: inline-block;
      vertical-align: top;
      padding-left: 0;
      padding-right: 0;
      text-align: center;
      font-size: 16px; }
    .wheather__item:nth-child(9) {
      width: 50%;
      font-size: 16px;
      display: inline-block;
      vertical-align: top;
      padding-left: 0;
      padding-right: 0;
      text-align: center;
      font-size: 16px; }
    .wheather__item:nth-child(11) {
      width: 100%;
      font-size: 16px;
      display: inline-block;
      vertical-align: top;
      padding-left: 0;
      padding-right: 0;
      text-align: center;
      font-size: 16px; } }

@media screen and (max-width: 350px) {
  .wheather__item:nth-child(n) {
    width: 100%;
    font-size: 16px;
    display: inline-block;
    vertical-align: top;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    font-size: 16px; }
    .wheather__item:nth-child(n) a {
      width: 101%;
      left: -1px; }
  .footer {
    text-align: center; } }
